.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Dosis', sans-serif;
  
}
h1 {
  color: #556c6c;
  margin-bottom: 30px;
  font-size: 30px;
  letter-spacing: 3px;
}

body {
  padding: 0;
  margin: 0;
}

.board {
  
  width: 400px;
  height: 400px;
  background-color:rgb(157, 201, 202);
  outline: 2px solid white;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33.33%;
  display: flex;
  flex-direction: row;
}

.square {
  flex: 33.33%;
  height: 100%;
  outline: 1px solid white;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 40px;
  font-weight: 600;
  color: #556c6c;
  font-family: 'Dosis', sans-serif;
}

.square:active {
  background-color:#8ba8a9;
}